.main {
  min-height: 100vh;
}
.section {
  min-height: 20vh;
  min-width: 100%;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Side */

.headerSide {
  background-color: rgb(var(--footerColor));
  width: 100vw;
  height: 48px;
  color:rgb(var(--primaryColor));
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}
.headerSide .leftSide {
  max-height: 48px;
}
.headerSide .leftSide .logo {
  width: 48px;
  height: auto;
}
.headerSide .rightSide {
  font-size: 14px;
  font-weight: 800;
}
.headerSide .rightSide li:hover {
  color: rgb(var(--orangeColor));
}

/* Top Side */

.topOne {
  background-image: url(/marbleBackground.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 50vh;
  margin-top: 47px;

  color:rgb(var(--orangeColor));

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.topOne .description {
  width: 50%;
}
.topOne .description h2 {
  font-size: 48px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}
.topOne .description p {
  font-size: 16px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}
.topOne .logo {
  width: 20vw;
  height: auto;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}

.topTwo {
  background-color: rgb(var(--primaryColor));
  width: 100vw;
  height: 75vh;

  color:rgb(var(--secondryColor));

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topTwo .description {
  width: 70vw;
  padding: 0 10vw;
}
.topTwo .description h2 {
  font-size: 48px;
  padding: 16px 0;
}
.topTwo .description p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
}
.topTwo .description button {
  font-size: 16px;
  padding: 8px 16px;
  margin: 16px 0;
  background-color: rgb(var(--primaryColor));
  color: rgb(var(--secondryColor));
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}
.topTwo .description button:hover {
  background-color: rgb(var(--secondryColor));
  color: rgb(var(--primaryColor));
}
.topTwo .leftSide {
  width: 30vw;
  padding-left: 5vw;
}
.topTwo .leftSide .topImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Main Side*/

.mainOne {
  background-color: rgb(var(--primaryColor));
  width: 100vw;
  height: 40vh;

  color:rgb(var(--secondryColor));

  display: flex;
  flex-direction: row;
  padding: 0 5%;
  margin: 5% 0;

}
.mainOne .card {
  display: block;
  padding: 96px 4px;
  position: relative;
  width: 100%;
}
.mainOne .number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color:rgb(var(--primaryColor));
  font-size: 128px;
  -webkit-text-stroke: 1px #eee;
  user-select: none;
  pointer-events: none;
}
.mainOne .header {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  width: 50%;
  z-index: 1;
}
.mainOne .description {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.mainTwo {
  background-color: rgb(51,51,51);
  width: 100%;
  height: auto;

  color:rgb(var(--primaryColor));

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainTwo .leftSide {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 64px;
}
.mainTwo .leftSide .mainImage {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
  padding: 5%;
  transition: all .4s ease-in-out;
}
.mainTwo .leftSide .mainImage:hover {
  transform: scale(1.1);
  transition: all .4s ease-in-out;
}
.mainTwo .rightSide {
  width: 50vw;
  padding-right: 10vw;
}
.mainTwo .rightSide h2 {
  font-size: 48px;
  padding: 16px 0;
}
.mainTwo .rightSide h6 {
  font-size: 16px;
  display: inline-block;
  position: relative;
}
.mainTwo .rightSide h6::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  padding: 0 2px;
  background-color: rgba(255, 165, 0, 0.4);
  transform: skewX(20deg);
  z-index: 0;
  border-radius: 2px;
}
.mainTwo .rightSide p {
  font-size: 12px;
}

.mainThree {
  background-color: rgb(var(--primaryColor));
  width: 100%;
  height: auto;
  min-height: 100vh;

  color:rgb(var(--secondryColor));

  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainThree h1 {
  font-size: 64px;
  margin: 32px;

  display: inline-block;
  position: relative;
}
.mainThree h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 100%;
  height: 12px;
  padding: 0 4px;
  background-color: rgba(255, 165, 0, 0.4);
  transform: skewX(20deg);
  z-index: 0;
  border-radius: 2px;
}
.mainThree .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 10%;
}
.mainThree .card {
  width: 25%;
  padding: 8px;
  margin-top: 16px;
  transition: all .4s ease-in-out;
}
.mainThree .card:hover {
  margin-top: 0px;
  transition: all .4s ease-in-out;
}
.mainThree .card img {
  width: 100%;
}
.mainThree .card h5 {
  font-size: 18px;
  margin: 16px 0;
  padding-right: 6px;

  display: inline-block;
  position: relative;
}
.mainThree .card h5::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: rgba(255, 165, 0, 0.4);
  transform: skewX(20deg);
  z-index: 0;
  border-radius: 2px;
}
.mainThree .card p {
  font-size: 14px;
}

/* Footer Side */

.footer {
  background-color: rgb(var(--footerColor));
  width: 100%;
  height: auto;

  color:rgb(var(--primaryColor));

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 10%;
}
.footer .leftSide {
  width: 33.3%;

}
.footer .leftSide .logo {
  width: 100%;
  height: auto;
  max-width: 150px;
  padding-right: 16px;
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1));
}
.footer .rightSide {
  width: 33.3%;
}
.footer .rightSide h6 {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
}
.footer .rightSide p {
  font-size: 10px;
  font-weight: 300;
  padding: 2px 0;
}
.footerTwo {
  background-color: rgb(var(--footerCopyColor));
  width: 100%;
  height: auto;

  color:rgb(var(--primaryColor));

  text-align: center;
  font-size: 8px;
  padding: 4px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  .headerSide {
    background-color: rgb(var(--footerColor));
    width: 100vw;
    height: 48px;
    color:rgb(var(--primaryColor));
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 20;
  }
  .headerSide .leftSide {
    max-height: 48px;
  }
  .headerSide .leftSide .logo {
    width: 48px;
    height: auto;
  }
  .headerSide .rightSide {
    font-size: 12px;
    font-weight: 600;
  }
  .headerSide .rightSide li:hover {
    color: rgb(var(--orangeColor));
  }
  .topOne {
    background-image: url(/marbleBackground.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 20vh;
    margin-top: 47px;
  
    color:rgb(var(--orangeColor));

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .topOne .description h2 {
    font-size: 20px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
  }
  .topOne .description p {
    font-size: 12px;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
  }
  .topOne .logo {
    width: 20vw;
    height: auto;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
  }
  .topTwo {
    background-color: rgb(var(--primaryColor));
    width: 100%;
    height: auto;
    margin: 8px;
  
    color:rgb(var(--secondryColor));
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .topTwo .description {
    width: 100%;
    padding: 0 8px;
  }
  .topTwo .description h2 {
    font-size: 24px;
    padding: 16px 0;
  }
  .topTwo .description p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }
  .topTwo .description button {
    font-size: 14px;
    padding: 4px 8px;
    margin: 8px 0;
    background-color: rgb(var(--primaryColor));
    color: rgb(var(--secondryColor));
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
  }
  .topTwo .description button:hover {
    background-color: rgb(var(--secondryColor));
    color: rgb(var(--primaryColor));
  }
  .topTwo .leftSide {
    width: 100%;
    padding: 8px 24px 8px 8px;
    
  }
  .topTwo .leftSide .topImage {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
  .mainOne {
    background-color: rgb(var(--primaryColor));
    width: 100%;
    height: auto;
  
    color:rgb(var(--secondryColor));
  
    display: flex;
    flex-direction: row;
    padding: 0 8px;
    margin: 8px 0;
  
  }
  .mainOne .card {
    display: block;
    padding: 64px 4px 16px;
    position: relative;
    width: 100%;
  }
  .mainOne .number {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    color:rgb(var(--orangeColor));
    font-size: 64px;
    -webkit-text-stroke: 1px #fff;
    user-select: none;
    pointer-events: none;
  }
  .mainOne .header {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    z-index: 1;
  }
  .mainOne .description {
    display: none;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.1px;
    z-index: 1;
  }
  .mainTwo {
    background-color: rgb(51,51,51);
    width: 100%;
    height: auto;
  
    color:rgb(var(--primaryColor));
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
  }
  .mainTwo .leftSide {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 8px;
  }
  .mainTwo .leftSide .mainImage {
    width: 25%;
    height: auto;
    object-fit: contain;
    border-radius: 50%;
    padding: 8px;
    transition: all .4s ease-in-out;
  }
  .mainTwo .leftSide .mainImage:hover {
    transform: scale(1);
    transition: all .4s ease-in-out;
  }
  .mainTwo .rightSide {
    width: 100%;
    padding: 8px;
  }
  .mainTwo .rightSide h2 {
    font-size: 24px;
    padding: 16px 0;
  }
  .mainTwo .rightSide h6 {
    font-size: 16px;
    display: inline-block;
    position: relative;
  }
  .mainTwo .rightSide h6::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6px;
    padding: 0 2px;
    background-color: rgba(255, 165, 0, 0.4);
    transform: skewX(20deg);
    z-index: 0;
    border-radius: 2px;
  }
  .mainTwo .rightSide p {
    font-size: 12px;
  }
  .mainThree {
    background-color: rgb(var(--primaryColor));
    width: 100%;
    height: auto;
    min-height: 100vh;
  
    color:rgb(var(--secondryColor));
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainThree h1 {
    font-size: 32px;
    margin: 16px;
  
    display: inline-block;
    position: relative;
  }
  .mainThree h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 4px;
    width: 100%;
    height: 8px;
    padding: 0 4px;
    background-color: rgba(255, 165, 0, 0.4);
    transform: skewX(20deg);
    z-index: 0;
    border-radius: 2px;
  }
  .mainThree .cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  
    margin: 8px;
  }
  .mainThree .card {
    width: 100%;
    padding: 8px;
    margin-top: 16px;
    transition: all .4s ease-in-out;
    display: flex;
  }
  .mainThree .card:hover {
    margin-top: 16px;
    transition: all .4s ease-in-out;
  }
  .mainThree .card img {
    width: 50%;
  }
  .mainThree .card h5 {
    font-size: 18px;
    margin: 16px 0 16px 8px;
  
    display: inline-block;
    position: relative;
  }
  .mainThree .card h5::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: rgba(255, 165, 0, 0.4);
    transform: skewX(20deg);
    z-index: 0;
    border-radius: 2px;
  }
  .mainThree .card p {
    font-size: 14px;
    padding: 0 8px;
  }
  .footer {
    background-color: rgb(var(--footerColor));
    width: 100%;
    height: auto;
  
    color:rgb(var(--primaryColor));
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 8px;
  }
  .footer .leftSide {
    width: 33.3%;
  }
  .footer .leftSide .logo {
    width: 100%;
    height: auto;
    max-width: 125px;
    padding: 8px;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1));
  }
  .footer .rightSide {
    width: 33.3%;
  }
  .footer .rightSide h6 {
    font-size: 14px;
    font-weight: 400;
    padding: 8px 0;
  }
  .footer .rightSide p {
    font-size: 10px;
    font-weight: 300;
    padding: 2px 0;
  }
  .footerTwo {
    background-color: rgb(var(--footerCopyColor));
    width: 100%;
    height: auto;
  
    color:rgb(var(--primaryColor));
  
    text-align: center;
    font-size: 8px;
    padding: 4px;
  }



}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
