.main {
  min-height: 100vh;
}
.section {
  min-height: 20vh;
  min-width: 100%;
  background-color: rgb(200, 200, 200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header Side */

.headerSide {
  background-color: rgb(var(--footerColor));
  width: 100vw;
  height: 48px;
  color:rgb(var(--primaryColor));
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
}
.headerSide .leftSide {
  max-height: 48px;
}
.headerSide .leftSide .logo {
  width: 48px;
  height: auto;
}
.headerSide .rightSide {
  font-size: 14px;
  font-weight: 800;
}
.headerSide .rightSide li:hover {
  color: rgb(var(--orangeColor));
}

/* Top Side */

.topOne {
  background-image: url(/marbleBackground.jpg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 50vh;
  margin-top: 47px;

  color:rgb(var(--orangeColor));

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.topOne .description {

}
.topOne .description h2 {
  font-size: 48px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}
.topOne .description p {
  font-size: 16px;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}
.topOne .logo {
  width: 20vw;
  height: auto;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));
}

.topTwo {
  background-color: rgb(var(--primaryColor));
  width: 100vw;

  color:rgb(var(--secondryColor));

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.topTwo .description {
  width: 70vw;
  padding: 0 10vw;
}
.topTwo .description p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
  padding: 8px 0;
}
.topTwo .leftSide {
  width: 50vw;
  padding-left: 5%;
}
.topTwo .leftSide .topImage {
  width: 100%;
  height: auto;
}

.topThree {
  background-color: rgb(var(--primaryColor));
  width: 100vw;

  color:rgb(var(--secondryColor));

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.topThree .description {
  width: 50vw;
  padding: 0 10vw;
}
.topThree .description p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
}
.topThree .leftSide {
  width: 50vw;
  padding: 5%;
}
.topThree .leftSide .topImage {
  width: 100%;
  height: auto;
}

/* Main Side*/

.mainOne {
  background-color: rgb(var(--primaryColor));
  width: 100vw;
  height: 40vh;

  color:rgb(var(--secondryColor));

  display: flex;
  flex-direction: row;
  padding: 0 5%;
  margin: 5% 0;

}
.mainOne .card {
  display: block;
  padding: 96px 4px;
  position: relative;
  width: 100%;
}
.mainOne .number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color:rgb(var(--primaryColor));
  font-size: 128px;
  -webkit-text-stroke: 1px #eee;
  user-select: none;
  pointer-events: none;
}
.mainOne .header {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  width: 50%;
  z-index: 1;
}
.mainOne .description {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.mainTwo {
  background-color: rgb(51,51,51);
  width: 100%;
  height: auto;

  color:rgb(var(--primaryColor));

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainTwo .leftSide {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px 64px;
}
.mainTwo .leftSide .mainImage {
  width: 50%;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
  padding: 5%;
}
.mainTwo .rightSide {
  width: 50vw;
  padding-right: 10vw;
}
.mainTwo .rightSide h2 {
  font-size: 48px;
  padding: 16px 0;
}
.mainTwo .rightSide h6 {
  font-size: 16px;
}
.mainTwo .rightSide p {
  font-size: 12px;
}

.mainThree {
  background-color: rgb(var(--primaryColor));
  width: 100%;
  height: auto;
  min-height: 100vh;

  color:rgb(var(--secondryColor));

  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainThree h1 {
  font-size: 64px;
  margin: 32px;
}
.mainThree h5 {
  font-size: 16px;
  margin: 32px;
}
.mainThree .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0 10%;
}
.mainThree .card {
  width: 50%;
  padding: 8px;
  display: flex;
}
.mainThree .cards:hover img {
  filter: grayscale(100%);
}
.mainThree .card img {
  width: 50%;
  transition: filter 0.4s ease;
}
.mainThree .card:hover img {
  filter: none;
}
.mainThree .card h5 {
  font-size: 18px;
  margin: 16px 8px;
  padding-right: 6px;

  display: inline-block;
  position: relative;
}
.mainThree .card h5::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 8px;
  background-color: rgba(255, 165, 0, 0.4);
  transform: skewX(20deg);
  z-index: 0;
  border-radius: 2px;
  transition: width 0.4s ease-in-out;
}
.mainThree .card:hover h5::after {
  width: 100%;
}
.mainThree .card p {
  font-size: 14px;
  margin: 8px 8px;
  width: 100%;
}

/* Footer Side */

.footer {
  background-color: rgb(var(--footerColor));
  width: 100%;
  height: auto;

  color:rgb(var(--primaryColor));

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 10%;
}
.footer .leftSide {
  width: 33.3%;
}
.footer .leftSide .logo {
  width: 100%;
  height: auto;
  max-width: 150px;
  padding-right: 16px;
  filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1));
}
.footer .rightSide {
  width: 33.3%;
}
.footer .rightSide h6 {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
}
.footer .rightSide p {
  font-size: 10px;
  font-weight: 300;
  padding: 2px 0;
}
.footerTwo {
  background-color: rgb(var(--footerCopyColor));
  width: 100%;
  height: auto;

  color:rgb(var(--primaryColor));

  text-align: center;
  font-size: 8px;
  padding: 4px;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  
}

@media (prefers-reduced-motion) {
  
}

/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
